<ion-content>
  <ion-list *ngIf="productos">
    <ion-item *ngFor="let producto of productos.products">
      <ion-img [src]="producto.thumbnail"></ion-img>
      <ion-label>{{ producto.title }}</ion-label>
      <ion-label>{{ producto.price | currency }}</ion-label>
      <ion-label>{{ producto.discountPercentage }}% de descuento</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="retrocederPagina()" expand="full" [disabled]="skip === 0">Anterior</ion-button>
  <ion-button (click)="avanzarPagina()" expand="full">Siguiente</ion-button>
</ion-content>
